#colorstrip{
    height: 0px;
    border-bottom:solid 125px #a9e0ea;
}

#codeButton{
    position:absolute;
    transition: .5s ease;
    top: 1%;
    left: 96%;
	background-color : #a9e0ea;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

#usefulLinkButton{
    position:absolute;
    transition: .5s ease;
    top: 1%;
    left: 92%;
	background-color : #a9e0ea;
	border: none;
	font-weight: bold;
    cursor: pointer;
}

.codingSectionName{
    font-size : 60px;
    text-align : center;
}

.codingSubSectionName{
    font-size : 40px;
}

.comment{
    color : red; 
    font-size:30px
}

.specialComment{
    color : green;
	font-size : 30px;
}


li{
  font-size : 30px
}
